django
django-debug-toolbar
django-filebrowser
django-import-export
djangorestframework
msgpack-numpy<0.4.4.0
pandas
pillow
psycopg2-binary
pymorphy2
pymystem3
pytz
spacy
uwsgi
numpy
pickle
nltk
string
collections
sklearn
gensim