django<2.1
django-import-export
django-debug-toolbar
djangorestframework
pytz
psycopg2-binary
uwsgi
spacy
pandas
pymystem3
pillow
django-filebrowser

# For spacy
# wget https://s3-us-west-1.amazonaws.com/fasttext-vectors/word-vectors-v2/cc.la.300.vec.gz
# python -m spacy init-model en /tmp/la_vectors_wiki_lg --vectors-loc cc.la.300.vec.gz